saludosDB/saludosDB/src/main/resources/esquema.xsd

<?xml version="1.0"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://t4is.uv.mx/saludos" xmlns:tns="https://t4is.uv.mx/saludos" elementFormDefault="qualified">
  <xs:element name="SaludarRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaludarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="respuesta" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
      <!-- Este é um exemplo de comentário em XSD 
   <xs:element name="BuscarTodosRequest"/>
     <xs:element name="BuscarTodosResponse">
    <xs:complexType>
      <xs:sequence>
              <xs:element max0ccurs="unbounded" name="nombre" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  -->
</xs:schema>